body {
    background-color: #202124;
}

.navbar {
    width: 100%;
    background-color: #171717;
}


.card {
    width: 65vh;
}

.cardimg {
    height: 50vh;
}

.cardcol {
    display: flex;
    justify-content: space-evenly;
}

.navbutton {
    color: white;
    font-size: large;
}

.navbutton:hover {
    color: rgb(106, 128, 172);
}

.navbutton:focus {
    color: rgb(106, 128, 172);
}

.logoimg {
    height: 7rem;
}

.loginbtn {
    color: white;
}

.loginbtnitem:hover {
    background-color: rgb(136, 136, 136);
    color: white;
}

.loginbtn:hover {
    color: white;
}

.loginbtnitem {
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

.regbtn {

    color: white;

}


.regbtnitem {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.regbtn:hover {
    color: white;
}

.regbtnitem:hover {
    background-color: rgb(136, 136, 136);
    color: white;
}

.accordbox {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-color: grey;
}

.accordinner {
    background-color: rgb(43, 43, 43);
    border-color: grey;
}

.accordhead {
    background-color: rgb(48, 46, 46);
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(48, 46, 46);
}

.accordion-body {
    color: white;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button{
    border-color: grey;
}

.figuretitle{
    color: white;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    height: 100%;
}

.figcard
{
    height: 100%;
    width: 85%;
}

.figtextbox
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    background-color: rgb(100, 100, 100);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(13, 24, 19);
}

.figimg
{
    height: 100%;
}

.card
{
    background-color: rgb(29, 28, 28);
    color: white;
    background: linear-gradient(rgb(29, 28, 28), rgb(29, 28, 28)) padding-box,
              linear-gradient(to right, rgb(116, 116, 116), rgb(63, 63, 63)) border-box;
    border: 4px solid transparent;
    border-radius: 10px;
}

.cardsection
{
    margin-bottom: 50px;
}

.spacer
{
    margin-top: 10px;
}