body
{
    background-color: rgb(7, 14, 75);
}
.cardimg
{
    height: 50vh;
}
.card
{
    width: 70vh;
}
.col
{
    display: flex;
    justify-content: space-evenly;
}
.active a{
    background-color: white !important;
}
.navbutton
{
    color: white;
    font-size: large;
}

.navbutton:hover
{
    color:rgb(106, 128, 172);
}

.navbutton:focus
{
    color:rgb(106, 128, 172);
}

.logoimg
{
    height: 7rem;
}

.loginbtn
{
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

.loginbtn:hover
{
    background-color: rgb(106, 128, 172);
    color: white;
}

.regbtn
{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.regbtn:hover
{
    background-color: rgb(106, 128, 172);
    color: white; 
}