body {
    background-color: #202124;
}

.navbar {
    width: 100%;
    background-color: #171717;
}



.coverimg {
    width: 65%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 25px 40px rgb(13, 24, 19);
}


.cardimg {
    height:30vh;
}

.coverbox {
    position: relative;
    text-align: center;
}

.covertext {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
    background-color: rgba(126, 125, 125, 0.397);
    border-radius: 10px;
    
}

.navbutton {
    color: white;
    font-size: large;
}

.navbutton:hover {
    color: rgb(106, 128, 172);
}

.navbutton:focus {
    color: rgb(106, 128, 172);
}

.logoimg {
    height: 7rem;
}

.loginbtn
{
    color: white;
}

.loginbtnitem:hover
{
    background-color: rgb(136, 136, 136);
    color: white;
}
.loginbtn:hover
{
    color: white;
}

.loginbtnitem
{
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

.regbtn
{
    
    color: white;
    
}


.regbtnitem
{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.regbtn:hover
{
    color: white; 
}

.regbtnitem:hover
{
    background-color: rgb(136, 136, 136);
    color: white; 
}

.loginbox
{
    width: 50%;

}

.rectextbox
{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    margin-bottom: 2%;
}

.rectext
{
    background-color: rgb(100, 100, 100);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(13, 24, 19);
}

.cardbox
{
    height: auto;
    width: 35vh;
    border-color: rgb(99, 99, 99);
    border: 5px;
    box-shadow: 0 10px 15px rgb(13, 24, 19);
}

.cardbod
{
    background-color: rgb(99, 99, 99);
    color: white;
    border-color: rgb(99, 99, 99);
    border: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reccofbox
{
    margin-bottom: 10%;
}
