body
{
    background-image: url('./Login/Coffee_bean2.png');
    background-size: cover;
}

.navbar
{
    width: 100%;
}


.navbutton
{
    color: white;
    font-size: large;
}

.navbutton:hover
{
    color:rgb(106, 128, 172);
}

.navbutton:focus
{
    color:rgb(106, 128, 172);
}

.logoimg
{
    height: 7rem;
}

.loginbtn
{
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

.loginbtn:hover
{
    background-color: rgb(106, 128, 172);
    color: white;
}

.regbtn
{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.regbtn:hover
{
    background-color: rgb(106, 128, 172);
    color: white; 
}

.loginbox
{
    width: 50%;

}

.loginform
{
    color: white;
    font-size: large;
}

.regbtn_press
{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: large;
    width: 5rem;
    text-align: center;
    height: 3rem;
    border-color: red;
    margin-top: 20px;
}

.regbtn_press:hover
{
    background-color: rgb(106, 128, 172);
    color: white; 
    border-color: rgb(106, 128, 172);
}

.title
{
    margin-top: 50px;
}

.label
{
    margin-top: 50px;
}